<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="DelDirScript" Guid="{044722FA-E3CD-455D-9A35-CB2518BA9B7C}">
        <File Id="deldirBatFile" KeyPath="yes" Source="$(var.ProjectDir)\Extra Components\deldir.bat" Hidden="yes" />
      </Component>
      
      <Component Id="AppDesktopShortcut" Guid="{0D1A8FE9-BA6E-4E7B-B78A-AE0D616A190D}">
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="DesktopShortcut"
                  Name="$(var.ProductName)"
                  Directory="DesktopFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Target="[INSTALLFOLDER]MicMuter.exe"
                  Icon="icon.ico"
                  />
        <RemoveFile Id="RDesktopShortcut" Name="DesktopMicMuter" On="uninstall" />
      </Component>

      <Component Id="AppStartMenuShortcut" Guid="{CE2FCE0E-6347-4708-9000-F6F8EF2AC231}">
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut"
                  Name="$(var.ProductName)"
                  Directory="ProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Target="[INSTALLFOLDER]\MicMuter.exe"
                  Icon="icon.ico"
                  />
        <RemoveFile Id="RStartMenuShortcut" Name="StartMenuShortcut" On="uninstall" />
      </Component>
      
    </DirectoryRef>

    <DirectoryRef Id="INSTALLERTEMPFOLDER">

      <Component Id="DotNetInstaller" Guid="{8994EB69-FA1E-4A97-97C5-47F65061A712}">
        <File Id="DotNetInstallerExe" KeyPath="yes" Source="$(var.ProjectDir)\Extra Components\ndp48-web.exe" />
      </Component>

    </DirectoryRef>
    
  </Fragment>
  
</Wix>
