<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBE3C1D05C7C90455322C9F819A57A07A" Guid="{8969F82B-8BC3-44FE-9D46-8B5BC2B65E2D}">
                <File Id="filE7C602A91344AD969255F20A2CA7411A" KeyPath="yes" Source="$(var.BuildDir)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmp92758FBE7BAD0A8C22E2DF7485108D82" Guid="{0E7C008B-64E3-40A6-B4EC-F23F7C0F8AC7}">
                <File Id="fil37C16A438720B34E2BAED72C2359E6B8" KeyPath="yes" Source="$(var.BuildDir)\Hardcodet.Wpf.TaskbarNotification.pdb" />
            </Component>
            <Component Id="cmp1AB3F692680AD43D977D2B4893C60651" Guid="{27B949A4-B30B-4F79-91AD-64CD9C82681A}">
                <File Id="fil8DCFE8E2064CED909E7B76E107F2D738" KeyPath="yes" Source="$(var.BuildDir)\Hardcodet.Wpf.TaskbarNotification.xml" />
            </Component>
            <Component Id="cmpEDE646916F79F00A3C736832D93E6994" Guid="{F197D933-662D-499A-8450-6BA7AEF002EE}">
                <File Id="fil9D6D93BA451FDD21D1BE91B098AD7FEC" KeyPath="yes" Source="$(var.BuildDir)\MicMuter.exe" />
            </Component>
            <Component Id="cmpDEB5BC31EA1A0D450890B2E3E2DC3FA7" Guid="{6C750E1F-2848-4A76-833F-55AE0C42AE05}">
                <File Id="fil9504DAA1F558A003E8CBB09471D2B36B" KeyPath="yes" Source="$(var.BuildDir)\MicMuter.exe.config" />
            </Component>
            <Component Id="cmp979BB5B2297816EF2D91624FE967267D" Guid="{127244A0-48A0-4ED4-A711-96F9B7C4F9B6}">
                <File Id="fil90ABFE40E18B3705156C760B3E7FFC87" KeyPath="yes" Source="$(var.BuildDir)\NAudio.dll" />
            </Component>
            <Component Id="cmp28F03CA49975F5843A9D208B68F7BAC1" Guid="{FC5B8750-A5C9-43FD-AF16-01063DEE2D8E}">
                <File Id="fil7065A3E0324229DDAD44DF94474BF17A" KeyPath="yes" Source="$(var.BuildDir)\NAudio.xml" />
            </Component>
            <Directory Id="dir802BC4378C6A5C4F18E4D40E7CA60B60" Name="StartupTaskCreator">
                <Component Id="cmp6C2D9E70807CD818E16170C083907C52" Guid="{DD5A7316-10EE-4178-A26B-6C4CA0CBE5E9}">
                    <File Id="fil73FA7440675D908F66D4B73E499BF737" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\Microsoft.Win32.TaskScheduler.dll" />
                </Component>
                <Component Id="cmpF3365AC3A7875DFC892E68BCF17A1825" Guid="{35BA2BAF-561C-40D4-9A60-3D38A541D834}">
                    <File Id="filFBF99BAE9919795A3F2E9BBF8F2A1DEC" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\Microsoft.Win32.TaskScheduler.xml" />
                </Component>
                <Component Id="cmpB5C4F8BC881B792E45EC16D493A4B633" Guid="{9A459685-B2E2-4700-BF46-7215A2199186}">
                    <File Id="fil73D18006CC51BF8D413D3236D9A145A3" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\StartupTaskCreator.exe" />
                </Component>
                <Component Id="cmp430F1BA9B3588A23A2143E41FA70D9DB" Guid="{AA329A7A-3C8F-4096-99A0-39EA0F820936}">
                    <File Id="fil4805DA62EC6B100D438481C45157A80A" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\StartupTaskCreator.exe.config" />
                </Component>
                <Directory Id="dirC21B08241B35C365BB799121594494B4" Name="de">
                    <Component Id="cmpA939D6B009696F444577F08A2854FFD6" Guid="{A5CC3314-403B-46E6-9704-298C41C38429}">
                        <File Id="fil50CFE969F86B147F4DE95B05A9236B67" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\de\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir4D7424EB1129CB6320755DD958169643" Name="es">
                    <Component Id="cmpE06284848295D41DAE9C9331D9756948" Guid="{8C13FE43-A89D-4BF4-BCE6-3640669513B5}">
                        <File Id="fil95059C2AB61BEDB62564248421F4E88C" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\es\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirB9A70BB72856998BFA18CAFB5C965685" Name="fr">
                    <Component Id="cmpAD39F22741698709963632E2DFCDD317" Guid="{EF8F22F0-A763-4107-8DA8-892E4F93A0D9}">
                        <File Id="filED8184F2B317B758C696AFAE82E39348" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\fr\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirA9D087A5D93A6FBD8346877966E3C4F8" Name="it">
                    <Component Id="cmp6800F05E0F142CDE9B9182B8007862C6" Guid="{5168B1BF-AAD8-4E0E-ABD8-82BA92BEF79F}">
                        <File Id="filEAD1A1B5B8E50873F284B96167FCD95D" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\it\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir6C2F382FF6F7F2B508E02E2FB24636D1" Name="pl">
                    <Component Id="cmp75A9008C1317F6BB496218D12D514985" Guid="{C8E13C89-0628-4249-90D5-656B4A0F7A1F}">
                        <File Id="filF999B24C3C8D68087B224762265D26F5" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\pl\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dirEA373F97D170F6DEABC919551F0906E6" Name="ru">
                    <Component Id="cmpE5BBED3E7CFF5FE6EBCB94512B7A35B1" Guid="{85E44660-2CF1-4473-9DD0-51A20D822E25}">
                        <File Id="fil780A72E4A76BDAE7AFBE2FA9956274CD" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\ru\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir81536EF88802EEF8F3E1ED6986035D53" Name="zh-CN">
                    <Component Id="cmpCD757A26622260FDB5EB57A316E0A915" Guid="{6B24B5EA-6E13-4D6D-8C23-8556C135ECA3}">
                        <File Id="fil992EB187FDABB653F47B5B62A972EEA9" KeyPath="yes" Source="$(var.BuildDir)\StartupTaskCreator\zh-CN\Microsoft.Win32.TaskScheduler.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponentsGenerated">
            <ComponentRef Id="cmpBE3C1D05C7C90455322C9F819A57A07A" />
            <ComponentRef Id="cmp92758FBE7BAD0A8C22E2DF7485108D82" />
            <ComponentRef Id="cmp1AB3F692680AD43D977D2B4893C60651" />
            <ComponentRef Id="cmpEDE646916F79F00A3C736832D93E6994" />
            <ComponentRef Id="cmpDEB5BC31EA1A0D450890B2E3E2DC3FA7" />
            <ComponentRef Id="cmp979BB5B2297816EF2D91624FE967267D" />
            <ComponentRef Id="cmp28F03CA49975F5843A9D208B68F7BAC1" />
            <ComponentRef Id="cmp6C2D9E70807CD818E16170C083907C52" />
            <ComponentRef Id="cmpF3365AC3A7875DFC892E68BCF17A1825" />
            <ComponentRef Id="cmpB5C4F8BC881B792E45EC16D493A4B633" />
            <ComponentRef Id="cmp430F1BA9B3588A23A2143E41FA70D9DB" />
            <ComponentRef Id="cmpA939D6B009696F444577F08A2854FFD6" />
            <ComponentRef Id="cmpE06284848295D41DAE9C9331D9756948" />
            <ComponentRef Id="cmpAD39F22741698709963632E2DFCDD317" />
            <ComponentRef Id="cmp6800F05E0F142CDE9B9182B8007862C6" />
            <ComponentRef Id="cmp75A9008C1317F6BB496218D12D514985" />
            <ComponentRef Id="cmpE5BBED3E7CFF5FE6EBCB94512B7A35B1" />
            <ComponentRef Id="cmpCD757A26622260FDB5EB57A316E0A915" />
        </ComponentGroup>
    </Fragment>
</Wix>