<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.BuildVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.Manufacturer)"
             Description="Mute your microphone from anywhere in windows with a keyboard shortcut."
             Languages="1033"
             />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="$(var.MicMuter.ProjectDir)\Icons\icon.ico" />

    <!-- Icon in Programs and Features -->
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <!-- Link in Programs and Features -->
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/cyberrex5/MicMuter" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UIRef Id="WixUI_CustomInstallDir" />

    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\dialog.bmp" />

    <Property Id="DOTNETFRAMEWORKVERSION">
      <RegistrySearch Id="DotNet48Check"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full"
                      Name="Version"
                      Type="raw"
                      />
    </Property>

    <Feature Id="App" Title="$(var.ProductName)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponentsGenerated" />
      <ComponentRef Id="DelDirScript" />
    </Feature>
    <Feature Id="FDesktopShortcut" Title="Desktop shortcut" Level="0">
      <Condition Level="1"><![CDATA[CREATEDESKTOPSHORTCUT="yes"]]></Condition>
      <ComponentRef Id="AppDesktopShortcut" />
    </Feature>
    <Feature Id="FStartMenuShortcut" Title="Start menu shortcut" Level="0">
      <Condition Level="1"><![CDATA[CREATESTARTMENYSHORTCUT="yes"]]></Condition>
      <ComponentRef Id="AppStartMenuShortcut" />
    </Feature>
    <Feature Id="DotNet48Installer" Title=".Net Framework 4.8" Level="0">
      <!-- Install feature if "DOTNETFRAMEWORKVERSION" does not start with "4.8" (DOTNETFRAMEWORKVERSION is of type DWORD (string)) -->
      <Condition Level="1"><![CDATA[NOT (DOTNETFRAMEWORKVERSION << "4.8")]]></Condition>
      <ComponentRef Id="DotNetInstaller" />
    </Feature>

    <CustomAction Id="DeleteUserSettings"
                  Directory="INSTALLFOLDER"
                  Execute="deferred"
                  ExeCommand='[INSTALLFOLDER]deldir.bat "%appdata%\$(var.ProductName)"'
                  Return="ignore"
                  />


    <CustomAction Id="InstallDotNet48"
                  Directory="INSTALLERTEMPFOLDER"
                  Execute="deferred"
                  Impersonate="no"
                  ExeCommand="[INSTALLERTEMPFOLDER]ndp48-web.exe"
                  Return="ignore"
                  />

    <CustomAction Id="DeleteDotNetInstaller"
                  Directory="INSTALLFOLDER"
                  Execute="deferred"
                  ExeCommand='[INSTALLFOLDER]deldir.bat "%temp%\$(var.ProductName)Installer"'
                  Return="ignore"
                  />

    <InstallExecuteSequence>
      <!-- Execute only when uninstalling (not upgrading) -->
      <Custom Action="DeleteUserSettings" Before="RemoveFiles"><![CDATA[(REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)]]></Custom>
      <!-- Execute if feature "DotNet48Installer" is installed -->
      <Custom Action="InstallDotNet48" Before="InstallFinalize"><![CDATA[(NOT Installed) AND (&DotNet48Installer = 3)]]></Custom>
      <Custom Action="DeleteDotNetInstaller" After="InstallDotNet48" />
    </InstallExecuteSequence>
    
	</Product>

</Wix>
